.info-card-container {
    display: flex;
    width: 100%;
    
    .info-card {
        display: flex;
        align-items: center;
        
        height: 18vmax;
    
        &.reverse {
            flex-direction: row-reverse;
        }
    
        .info-content {
            display: flex;
            justify-content: space-between;
            gap: .5rem;
            flex: 1;
            flex-direction: column;

            width: 23vmax;
            height: 14vmax;

            padding: 1.4vmax;

            background: linear-gradient(90deg, #2F5C0F, #6ba628);

    
            h2 {
                font-size: 1.2vmax;
                font-weight: 600;
    
                color: #EBEBEB;
            }
    
            p {
                font-size: .75vmax;
                font-weight: 500;
    
                color: #BBBBBB;
            }
    
            button {
                display: flex;
                align-items: center;
                justify-content: center;
    
                width: 10vmax;
                height: 2.2vmax;

                background-color: #FFFFFF;

                font-size: .8vmax;
                font-weight: 600;

                color: #3E7A1E;
    
                border-radius: .15vmax;

                span{
                    margin-right: 1rem;
                }
            }
        }
    
        .info-image {
            flex: 1;
    
            img {
                width: auto;
                height: 16vmax;
                object-fit: cover;
            }
        }
    }
}
